@import 'Variables.scss';

body{
    background-color: black;
    height: 100vh;
}

.header{
    @include flexColumnCenter;
    @media (min-width: 768px){
        margin-bottom: 50px;
    }
    &__img{
        transform: scale(80%);
        @media (min-width: 768px){
            transform: scale(100%);
        }
        @media (min-width: 1200px){
            transform: scale(120%);
        }
    }
}

.main{
    @include flexColumnCenter;

}
.footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px;
    border-top: solid 1px $electricGreenDark;
    color: $electricBlue;
    text-align: right;
}
