
body{
    background-color: black;
    height: 100vh;
}

.header{
    // @include flexColumnCenter;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img{
        transform: scale(80%);
        @media (min-width: 768px){
            transform: scale(100%);
        }
        @media (min-width: 1200px){
            transform: scale(120%);
        }
    }
}

.main{
    // @include flexColumnCenter;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    // @include flexColumnCenter;
    display: flex;
    flex-direction: column;
    align-items: center;
}
