@import 'Variables.scss';

.button{
    @include filters;
    color: $electricBlueLight;
    @media (min-width:180px){
        &:hover{
        color: $electricGreen;
        background-color: $electricBlueLight;
    }
    }
    
}