@import 'Variables.scss';

.list__element{
    width: 320px;
    border: solid 1px $electricGreenDark;
    border-radius: 10px;
    margin-bottom: 15px;
    @include flexColumnCenter;
    &:hover{
        border: solid 1px $electricGreenYellow;
    }

    @media (min-width: 768px){
        grid-column: span 1;
        margin: auto;
    }
    &--img{
        margin: 10px;
    }
    &--text{
       color: $electricGreen;
       margin-bottom: 10px;
       text-align: center;
    }
}
.name{
    font-size: 30px;
}
.line{
    margin-top: 10px;
    font-size: 20px;
}
.alternative{
    @include alternative;
}