@import 'Variables.scss';


.detail{
    border: solid 2px $electricGreenDark;
    border-radius: 10px;
    margin-bottom: 15px;
    @include flexColumnCenter;
    &__img{
        margin: 10px;
    }
    &__name{
        font-size: 30px;
        color: $electricGreen;
    }
    &__text{
        @include flexColumnCenter;
        color: $electricGreen;
        margin-bottom: 10px;
        &--line{
            margin: 4px;
            font-size: 15px;
        }
    }
}

.back{
    @include fas;
    transform:rotate(-90deg) scale(150%);
    &:hover{
        color: $electricBlue;
    }
}

.alternative{
    @include alternative;
}