@import 'Variables.scss';


.detail{
    border: solid 3px $electricGreenDark;
    border-radius: 10px;
    margin-bottom: 15px;
    @include flexColumnCenter;
    @media(min-width:780px){
        flex-direction: row;
    }
    &__img{
        margin: 10px;
    }
    &__name{
        font-size: 40px;
        color: $electricGreen;
        margin-right: 10px;
        margin-bottom: 20px
    }
    &__text{
        @include flexColumnCenter;
        color: $electricGreen;
        margin-right: 10px;
        &--line{
            margin: 5px;
            font-size: 20px;
        }
    }
}
.text{
    @include flexColumnCenter;
    justify-content: space-around;
}
.back{
    @include fas;
    transform:rotate(-90deg) scale(150%);
    padding: 15px;
    &:hover{
        color: $electricBlue;
    }
}

.alternative{
    @include alternative;
}