@import 'Variables.scss';

.list__element{
    width: 320px;
    border: solid 1px rgb(5, 160, 0);
    border-radius: 10px;
    margin-bottom: 15px;
    @include flexColumnCenter;

    @media (min-width: 768px){
        grid-column: span 1;
        margin: auto;
    }
    &--img{
        margin: 10px;
    }
    &--text{
       color: rgb(9, 255, 0);
       margin-bottom: 10px;
    }
}
.name{
    font-size: 30px;
}
.line{
    margin-top: 10px;
    font-size: 20px;
}