@import 'Variables.scss';

.form__input {
    padding: 5px;
    height: 40px;
    width: 300px;
    margin: 10px;
    background-color: rgb(5, 160, 0);
    border-radius: 10px;
    &::placeholder{
        font-size: 20px;
        color: rgb(0, 195, 255);
    };
}