@import 'Variables.scss';

.input {
@include filters;
color: $electricBlue;
    &::placeholder{
        color: $electricBlueLight;
    }
    @media (min-width: 768px){
        grid-column: span 2;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    @media (min-width:1200px){
        grid-column: span 4;
    }
}