@import 'Variables.scss';

.label{
@include filters;
    color: $electricBlueLight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 1200px){
        
    }
}
.select{
    background-color: $electricGreenDark;
    text-align: end;
    font-size: 15px;
    padding: 2px;
    &:hover{
        color: $electricBlue;
    }
}