@import 'Variables.scss';

.label{
@include filters;
    color: $electricBlue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select{
    background-color: $electricGreenDark;
    text-align: end;
    &:hover{
        color: $electricBlueLight;
    }
}