// colors
$electricBlue: rgb(0, 195, 255);
$electricGreen: rgb(9, 255, 0);
$electricGreenDark: rgb(5, 160, 0);
$electricBlueLight: rgb(175, 236, 255);
$electricGreenYellow: rgb(123, 255, 0);
$greenBackground:rgb(5, 61, 3);

// mixins
@mixin flexColumnCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin filters{
    padding: 5px;
    height: 40px;
    width: 300px;
    margin: 10px;
    background-color: $electricGreenDark;
    border-radius: 10px;
    font-size: 20px;
}

@mixin fas{
    color: $electricGreen;
    margin-bottom: 10px;
    
}

@mixin alternative{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: solid 2px $electricGreenDark;
    color: $electricBlue;
}