// colors
$electricBlue: rgb(240, 243, 52);
$electricGreen: rgb(255, 196, 0);
$electricGreenDark: rgb(119, 95, 30);
$electricBlueLight: rgb(255, 243, 175);
$electricGreenYellow: rgb(221, 224, 30);
$greenBackground:rgb(65, 53, 22);

// mixins
@mixin flexColumnCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin filters{
    padding: 5px;
    height: 40px;
    width: 90%;
    margin: 10px;
    background-color: $electricGreenDark;
    border-radius: 10px;
    font-size: 20px;
}

@mixin fas{
    color: $electricGreen;
    margin-bottom: 10px;
    
}

@mixin alternative{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: solid 2px $electricGreenDark;
    color: $electricBlue;
}